<!--
    This launch file sets up the server_endpoint script that we use to get
    the most recent joint states for our Unity robot.
    Here we launch:
    1. The server_endpoint node which exposes the JointStates messages to Unity.
-->
<launch>
    <rosparam file="$(find teleop)/config/params.yaml" command="load"/>
    <node name="start_tcp_server_node" pkg="teleop" type="start_tcp_server_unity_ros.py" args="--wait" output="screen" respawn="true"/>
</launch>
